white-links()
  *, a
    color white
  a:hover
    color #60D7A9

.bespoke-parent
  &.stranger
    background-color #5cdce6

  &.better-l8
    background-color #d74e78

  &.way-we-were
    background-color #2a265e
    white-links()

  &.waiting-all-night
    background-color #1a3436
    white-links()

  &.making-the-move
    background-color #630010
    white-links()

  &.ever-gonna-sleep
    background-color #00d159

  &.florence
    background-color #d77c5a

