white-text()
  *, a
    color white
  a:hover
    color #60D7A9

.yyy-page-parent
  &.stranger
    background-color #5cdce6

  &.better-l8
    background-color #d74e78

  &.way-we-were
    background-color #ebdf00

  &.waiting-all-night
    background-color #1a3436
    white-text()

  &.ever-gonna-sleep
    background-color #630010
    white-text()

  &.i-am-me
    background-color #00d159

  &.florence
    background-color #d77c5a

  &.save
    background-color: #481036
    white-text()
