.bespoke-parent.stranger
  background-color: #0AC2D2

.bespoke-parent.better-l8
  background-color: #d74e78

.bespoke-parent.way-we-were
  background-color: #2a265e
  *, a
    color: white
  a:hover
    color: #60D7A9

