@import 'normalizecss/normalize.css'

body
  font-family serif
  cursor url(/images/cur1.png), auto

body.loading
  visibility hidden
  content 'loading'

ul
  list-style none

#loading-message
  position absolute
  bottom 20px
  width 100%
  text-align center
  font-size 0.9em

#business-card.hidden, #loading-message.hidden
  opacity 0
  transition opacity 0.3s ease-out

article
  font-style italic
  font-size 2em
  text-align center

  h1, h2, h3
    margin 0.1em 0

  .smaller
    font-size 0.7em

.yyy-page-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  overflow: hidden
  transition: background 1s ease

.yyy-page-backdrop
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  opacity: 0

.yyy-scale-parent
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  .yyy-page-active
    pointer-events: auto

.yyy-page-slide
  width: 640px
  height: 480px
  position: absolute
  top: 50%
  left: 50%
  margin-left: -(@width / 2)
  margin-top: -(@height / 2)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.yyy-page-inactive
  opacity: 0
  pointer-events: none

.yyy-page-backdrop
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  opacity: 0

.yyy-page-backdrop-active
  opacity: 1


@import "cards.styl"
@import "remixes.styl"
