body
  font-family serif

body.loading
  visibility hidden

ul
  list-style none

a
  text-decoration none
  &:active, &:visited, &:link
    color black
  &:hover
    color #71103d

#business-card
  position absolute
  opacity 1
  transition opacity 1s ease-in
  top 10px
  left 20px
  z-index 10
  font-size 0.6em
  .card-header
    font-weight bold
    font-family sans-serif
    font-style normal
    margin-bottom 7px

#business-card.hidden
  opacity 0
  transition opacity 0.3s ease-out

article
  font-style italic
  font-size 2em

  .has-audio
    display none

  h1, h2, h3
    margin 0.1em 0

  .smaller
    font-size 0.7em
