article
  font-family: serif
  font-style: italic
  font-size: 2em

  ul
    list-style: none

  a
    text-decoration: none
    &:hover, &:active, &:visited, &:link
      color: black

  .has-audio
    display: none

  .first-page

    h1, h2
      margin: 0.2em 0
