doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title yyyounggg

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.first-page
        h1 yyyounggg
        h2 coleman moore
        div
          a(target='_blank' href='https://soundcloud.com/yyyounggg') soundcloud
        div
          a(target='_blank' href='https://soundcloud.com/colemanmoorecomposer') film music
        div
          a(target='_blank' href='https://instagram.com/yyyounggg2') instagram
        div
          a(target='_blank' href='https://twitter.com/morecoleman') twitter

      section.stranger
        h2 stranger like you
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/stranger-like-you.mp3
        
      section.better-l8
        h2 better l8 than never
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/better-l8.mp3
        
      section.way-we-were
        h2 the way we were
        di.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/way-we-were.mp3

      section.nina
        h2 waiting all night
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/waiting-all-night.mp3
        
      section.nina
        h2 making the move
        
      section
        h2 ever gonna sleep
        
      section
        h2 florence edith avery
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/florence-edith-avery.mp3
        

    script(src='build/build.js')
