doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='description', content='music production reel - coleman moore')
    title yyyounggg

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
    include ./includes/ga

  body.loading

    article#production-deck
    
      div#loading-message.hidden
        div.smaller loading...
          
      section.first-page
        h1 yyyounggg
        div.smaller production reel
          
      section(data-state='stranger', data-href='https://s3-us-west-2.amazonaws.com/yyy-audio/website/stranger-like-you.mp3')
        h2.track-title stranger like you
        div.smaller yyyounggg with lara andersson

      section(data-state='way-we-were', data-href='https://s3-us-west-2.amazonaws.com/yyy-audio/website/way-we-were.mp3')
        h2.track-title the way we were
        div.smaller ari afsar
          
      section(data-state='better-l8', data-href='https://s3-us-west-2.amazonaws.com/yyy-audio/website/better-l8.mp3')
        h2.track-title better l8 than never
        div.smaller amber lynn shelves
          
      section(data-state='florence', data-href='https://s3-us-west-2.amazonaws.com/yyy-audio/website/florence-edith-avery.mp3')
        h2.track-title florence edith avery
        div.smaller rich & lux
          
      section(data-state='i-am-me', data-href='https://s3-us-west-2.amazonaws.com/yyy-audio/website/i-am-me.mp3')
        h2.track-title i am me
        div.smaller charles devon  
          
      section(data-state='ever-gonna-sleep', data-href='https://s3-us-west-2.amazonaws.com/yyy-audio/website/ever-gonna-sleep.mp3')
        h2.track-title ever gonna sleep
        div.smaller ari afsar
          
    script(src='build/build.js')    
