doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title yyyounggg

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    


    article#presentation
    
      div#business-card.hidden
        div.card-header yyyounggg
        div
          a(target='_blank' href='https://soundcloud.com/yyyounggg') soundcloud
        div
          a(target='_blank' href='https://soundcloud.com/colemanmoorecomposer') film music
        div
          a(target='_blank' href='https://instagram.com/yyyounggg2') instagram
        div
          a(target='_blank' href='https://twitter.com/morecoleman') twitter
          
      section.first-page
        h1 yyyounggg
        h3 coleman moore
        h3 production reel
        div
          span tap, swipe

      section(data-bespoke-state="stranger", data-bespoke-fx-transition="fade")
        h2 stranger like you
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/stranger-like-you.mp3
        svg(height="140", width="140")
          ellipse(cx="200" cy="80" rx="100" ry="50" style="fill:yellow;stroke:purple;stroke-width:2")
        
      section(data-bespoke-state="better-l8")
        h2 better l8 than never
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/better-l8.mp3
        
      section(data-bespoke-state="way-we-were")
        h2 the way we were
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/way-we-were.mp3

      section(data-bespoke-state="nina")
        h2 waiting all night
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/waiting-all-night.mp3
        
      section(data-bespoke-state="nina")
        h2 making the move
        
      section(data-bespoke-state="ever-gonna-sleep")
        h2 ever gonna sleep
        
      section(data-bespoke-state="florence")
        h2 florence edith avery
        div.has-audio https://s3-us-west-2.amazonaws.com/yyy-audio/website/florence-edith-avery.mp3
        

    script(src='build/build.js')
